
# Resource
#   https://github.com/kubernetes-incubator/kubespray/blob/master/inventory/sample/hosts.ini

# HOSTS
[all]
{% for host in groups['k8s-cluster'] %}
{{ host }} ansible_ssh_host={{ host }} ip={{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}

# GROUPS

[kube-master]
{% for host in groups['kube-master'] %}
{{ host }}
{% endfor %}

[kube-node]
{% for host in groups['kube-node'] %}
{{ host }}
{% endfor %}

[etcd]
{% for host in groups['etcd'] %}
{{ host }}
{% endfor %}

[k8s-cluster]
{% for host in groups['k8s-cluster'] %}
{{ host }}
{% endfor %}

[vault]
{% for host in groups['vault'] %}
{{ host }}
{% endfor %}

[kube-ingress]
{% for host in groups['kube-ingress'] %}
{{ host }}
{% endfor %}

